@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #93A386;
  --secondary-color: #FFFFFF;
  --tertiary-color: #000000;
  --accent-color: #596351;
  --background-color: #E8F5E2;
}

* {
  background-color: var(--background-color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 300px) {
  .container {
    padding: 0px 20px;
  }
}

@media (min-width: 640px) {
  .container {
    padding: 0px 60px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0px 120px;
  }
}

.body {
  flex: 1;
  flex-direction: column;
}
