@media (min-width: 0px) {
    .socialMediaLarge {
        display: none;
    }

    .socialMediaSmall {
        display: block;
    }
}

@media (min-width: 768px) {
    .socialMediaLarge {
        display: block;
    }

    .socialMediaSmall {
        display: none;
    }
}

@media (min-width: 1024px) {
    .socialMediaLarge {
        display: block;
    }

    .socialMediaSmall {
        display: none;
    }
}